{{range .body.ArticleItems}}
<div style="overflow: hidden;padding: 0;margin-left:3%;margin-right:3%;border-bottom: 1px solid #eeeeee;">
    <div style="float:left;display: table;margin: 20px 30px 20px 0;width: 180px;height: 100px;" class="hidden-xs">
        <img class="lazy" src="/images/placeholder.jpg" data-original="{{.Picture}}" width="179" height="110">
    </div>
    <div style="overflow: visible;margin: 20px 0 0 0;display: table;">
        <div style="overflow:visible;">
            <a href="/course/{{.ID}}" style="font-size:18px;font-weight:bold;letter-spacing: 1px;">{{.Subject}}</a>
        </div>
        <div style="margin-top:10px;margin-bottom:10px;">
            <div style="max-height:44px;color:#999;overflow:hidden;font-size:14px;line-height:22px;letter-spacing: 1px;">
                {{.Description}}
            </div>
        </div>
    </div>
</div>
{{end}}

<script>
    $("img.lazy").lazyload({
        threshold: 200
    });
</script>