<div id="leftBarDiv" class="leftBar">
    <div id="header">
        <div style="margin:0 auto 0 auto;text-align:left;">
            <div style="overflow:hidden;background-color: #2B2B2B;">
                <div style="margin-left:10px;">
                    <a href="/"><img src="/images/logo.png" height="60" /></a>
                </div>
            </div>
        </div>
    </div>
    <ul>
        <li :class="{active:'userindex' == '{{.url}}'}"><a href="/user/index">个人首页</a></li>
        <li :class="{active:'articleadd' == '{{.url}}'}"><a href="/article/add">我要发文</a></li>
        <li><span></span></li>
        <li :class="{active:'userarticle' == '{{.url}}'}"><a href="/article/list/1">文章管理</a></li>
    </ul>
</div>

<script>
    new Vue({
        el: "#leftBarDiv",
        data: {
            active: "active"
        }
    });
</script>