<!DOCTYPE html>
<html>

<head>{{ part "title" }}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <script src="/scripts/jquery-2.2.4.min.js"></script>
    <script src="/scripts/vue-html5-editor.js"></script>
    <script src="/scripts/jquery.lazyload.min.js"></script>
    <script src="/scripts/vue.min.js"></script>
    <script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/global/css/components.min.css" rel="stylesheet">
    <link href="/assets/layouts/layout/css/custom.css" rel="stylesheet" />
    <link href="/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" />
    <link href="/styles/site.css" rel="stylesheet">
    <script src="/scripts/ASY.js"></script>
</head>

<body>
    <div id="page-container" style="position: relative;">
        {{ render "shared/_menu.html" }}
        <div class="rightMain">
            <div style="padding:0 0 0 0;height:60px;margin-bottom:20px;">
                <div style="background-color: #ffffff;height:60px;padding:10px;"></div>
            </div>
            <div id="list">{{ yield }}</div>
        </div>
    </div>
</body>

</html>