{{range .Items}}
<div class="left-image" style="width:180px;float:left;">
    <div style="width:30px;text-align:center;width:180px;">
        <div style="width:180px;padding:10px;">
            <img src="/images/hongbao.png" />
        </div>
        <div style="text-align:center;color:#000000;font-weight:bold;">
            100
        </div>
        <div style="margin:10px;">
            <img src="/images/star.png" />
            <img src="/images/star.png" />
            <img src="/images/star.png" />
            <img src="/images/star.png" />
            <img src="/images/star.png" />
        </div>
    </div>
</div>
<div style="margin:0;overflow:hidden;border-bottom: 1px solid #f8f8f8;">
    <div style="padding:10px 0 10px 10px;">
        <a href="/item/{{.ID}}" style="font-size:18px;letter-spacing: 1px;color:#333333;font-weight:bold;font-family: Arial,Lucida,Verdana,Helvetica,sans-serif;">{{.Subject}}</a>
    </div>
    <div style="color:#888888;height:42px;line-height:20px;overflow:hidden;font-size:12px;margin:0 10px 0 10px;letter-spacing: 1px;">
        {{.Description}}
    </div>
    <div class="" style="line-height:20px;color:#EECBAD;float:right;margin:10px 10px 10px 10px;letter-spacing: 1px;">
        Posted by {{.NickName}} on {{.AddDate | daysAgo}}
    </div>
</div>
{{end}}