<div id="header">
    <div style="max-width:1200px;margin:0 auto 0 auto;text-align:left;">
        <div style="margin-left:-20px;overflow:hidden;">
            <div style="float:left;">
                <a href="/"><img src="/images/logo.png" /></a>
            </div>
            <div style="float:right;margin-top:3px;">
                <input type="text" v-model="UserId" style="padding: 5px 20px 5px 25px;background: url(/images/usericon.png) no-repeat 7px;border: 0;background-color: #f4f4f4;" placeholder="用户名">
                <input type="password" v-model="Password" style="padding: 5px 20px 5px 25px;background: url(/images/pwdicon.png) no-repeat 7px;border: 0;background-color: #f4f4f4;" placeholder="密码">
                <span style="color:#ffffff;padding:5px 20px 5px 20px;background-color: #ffd800;margin-right:10px;margin-left:10px;cursor:pointer;" v-on:click="login">登 陆</span>
                <span style="color:#ffffff;padding:5px 20px 5px 20px;background-color: #ff6a00;cursor:pointer;">注 册</span>
            </div>
        </div>
    </div>
</div>
<div id="crumbs" style="clear:both;">
    <div style="padding:0 0 0 10px;color:coral;">
        我用一宿的陪伴，换得你一生的绽放，昙花我只爱施缘
        <span style="margin:0;float:right;">
                <span style="padding:5px 20px 5px 20px;margin:0 20px 0 0;">
                    <a href="add" style="color:#000000;font-weight:bold;">我要提问</a>
                </span>
        <img src="/images/help.png" style="vertical-align:middle;margin:0;padding:0 10px 0 0;" />
        </span>
    </div>
    <div style="clear:both;"></div>
</div>