<div id="header">
    <div style="max-width:1200px;margin:0 auto 0 auto;text-align:left;">
        <div style="margin-left:-20px;overflow:hidden;">
            <div style="float:left;">
                <a href="/"><img src="/images/logo.png" /></a>
            </div>
            <div id="logininfo" style="float:right;margin-top:3px;">
                <span style="color:#ffffff;padding:5px 20px 5px 20px;background-color: #ffd800;margin-right:10px;margin-left:10px;cursor:pointer;" v-on:click="login">登 陆</span>
                <span style="color:#ffffff;padding:5px 20px 5px 20px;background-color: #ff6a00;cursor:pointer;" v-on:click="reg">注 册</span>
            </div>
        </div>
    </div>
</div>
<div id="crumbs" style="clear:both;">
    <div style="padding:0 0 0 10px;color:coral;">
        <span style="padding:5px 20px 5px 20px;margin:0 20px 0 0;font-size:24px;"><a href="/add" style="color:#666666;">我要提问</a></span>
        <div style="margin:0;float:right;">
            <div id="search-12" class="widget widget_search" style="float:left;">
                <form method="get" id="searchform" class="form-search" action="https://stackify.com/">
                    <label for="s" class="visually-hidden">搜 索</label>
                    <input type="text" id="s" class="search-query" name="s" placeholder="Search">
                </form>
            </div>
            <img src="/images/help.png" style="vertical-align:middle;margin:8px 0 0 20px;padding:0 10px 0 0;" />
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
<script src="https://cdn.iissy.com/scripts/jquery.cookie.js"></script>
<script src="/scripts/reg.js"></script>