<!DOCTYPE html>
<html>

{{template "_header.html"}}

<body>
    {{template "_toper.html"}}
    <div id="main">
        <div id="app">
            <div id="dataform" class="row">
                <div class="col-md-12">
                    <div class="portlet light" style="margin-bottom: 0;">
                        <div class="portlet-body form" style="max-width: 1200px;margin:0 auto;">
                            <div class="form-horizontal mg0" role="form">
                                <div class="form-body" style="padding:0 0 0 0;">
                                    <input type="hidden" id="Id" v-model="Id" />
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">标题</label>
                                        <div class="col-md-11">
                                            <input type="text" v-model="Subject" class="form-control" placeholder="请在此填写标题">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">问题内容</label>
                                        <div class="col-md-11">
                                            <vue-html5-editor :content="Body" :height="360" :auto-height="false" :show-module-name="showModuleName" @change="updateData" ref="editor"></vue-html5-editor>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label"></label>
                                        <div class="col-md-11">
                                            <button style="color:#ffffff;padding:5px 30px 5px 30px;background-color: #36c6d3;font-size:16px;border-radius:10px;border: 1px solid #2bb8c4;" class="right" v-on:click="post">发 布</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{template "_footer.html"}}
</body>

</html>