<!DOCTYPE html>
<html>

{{template "_header.html"}}

<body>
    {{template "_toper.html"}}
    <div id="main">
        <div id="console">
            <aside class="x-sidebar right" role="complementary">
                <div id="recent-posts-4" class="widget widget_recent_entries">
                    <h4 class="h-widget">Recent Articles</h4>
                    <ul>
                        {{range .List}}
                        <li>
                            <a href="/item/{{.ID}}">{{.Subject}}</a>
                        </li>
                        {{end}}
                    </ul>
                </div>

                <div id="text-15" class="widget widget_text">
                    <div class="textwidget">
                        <img src="https://cdn.iissy.com/images/erweima.png">
                    </div>
                </div>

            </aside>
        </div>
        <div id="detail">
            <div class="title">
                {{.Subject}}
            </div>
            <div class="body">
                {{.Body}}
            </div>
        </div>
    </div>
    {{template "_footer.html"}}
</body>

</html>