<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>微博显示</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <script src="/scripts/jquery-1.7.2.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.2.6/vue.js"></script>
    <link href="/styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/styles/site.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div id="main">
            <div>
                总共 {{.TotalCount}} 条
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover">
                    <tr style='text-align: left'>
                        <th>#</th>
                        <th>State</th>
                        <th>User</th>
                        <th>Title</th>
                    </tr>
                    {{template "_list.html" .}}
                </table>
            </div>
        </div>
    </div>
</body>

</html>