<!DOCTYPE html>
<html>

{{template "_header.html"}}

<body>
    {{template "_toper.html"}}
    <div id="main">
        <div id="app">
            <div class="body">
                <div><input type="text" v-model="UID" style="padding: 5px 20px 5px 25px;background: url(/images/usericon.png) no-repeat 7px;border: 0;background-color: #f4f4f4;" placeholder="用户名"></div>
                <div><input type="password" v-model="PWD" style="padding: 5px 20px 5px 25px;background: url(/images/pwdicon.png) no-repeat 7px;border: 0;background-color: #f4f4f4;" placeholder="密码"></div>
                <div><span style="color:#ffffff;padding:5px 20px 5px 20px;background-color: #ffd800;margin-right:10px;cursor:pointer;" v-on:click="loginpost">登 陆</span></div>
            </div>
        </div>
    </div>
    {{template "_footer.html"}}
</body>

</html>