<!DOCTYPE html>
<html>

{{template "_header.html"}}

<body>
    {{template "_toper.html"}}
    <div id="main">
        <div id="detail">
            <div style="font-size:18px !important;font-weight:bold;border-bottom: 1px solid #C32528;color: #C32528;font-family: 'museo-1', 'museo-2', Verdana;letter-spacing: 1px;text-shadow: #EEE 1px 1px 1px;margin:10px 0 10px 0;padding:10px 0 10px 10px;">
                {{.UserName}}
            </div>
            <div style="word-wrap:break-word;word-break:break-all;letter-spacing:1px;padding:10px 20px 20px 20px;line-height: 180%;">
                {{.LastLoginDate}}
            </div>
        </div>
    </div>
    {{template "_footer.html"}}
</body>

</html>