{{ define "mosaic-title"}}
    <title>{{.title}}</title>
{{ end }}

<div id="pay">
    <div style="padding: 10px;min-height: 700px;">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img src="data:image/jpg;base64,{{ .body.original }}">
                    <div class="lead">Original</div>
                </div>
                <div class="col-6">
                    <img src="data:image/jpg;base64,{{ .body.mosaic }}">
                    <div class="lead">Mosaic - {{ .body.duration }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12"><a class="btn btn-lg btn-info" href="/choose">Go Back</a></div>
            </div>
        </div>
    </div>
</div>