{{ define "article/add-title"}}
<title>添加文章</title>
{{ end }}

<script>
    var id = "{{.id}}";
</script>

<div id="app">
    <div id="dataform" class="row">
        <div class="col-md-12">
            <div class="portlet light" style="margin-bottom: 0;">
                <div class="portlet-body form" style="margin:0 auto;">
                    <div class="form-horizontal mg0" role="form">
                        <div class="form-body" style="padding:0 0 0 0;">
                            <div class="form-group">
                                <label class="col-md-1 control-label">标题</label>
                                <div class="col-md-7">
                                    <input type="text" v-model="Subject" class="form-control" placeholder="请在此填写标题">
                                </div>
                                <div class="col-md-2">
                                    <select v-model="PostType" class="form-control">
                                        <option value="技术">技术</option>
                                        <option value="新闻">新闻</option>
                                        <option value="故事">故事</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select v-model="Origin" class="form-control">
                                        <option value="爱施缘">爱施缘</option>
                                        <option value="中关村在线">中关村在线</option>
                                        <option value="凤凰网科技">凤凰网科技</option>
                                        <option value="新浪科技">新浪科技</option>
                                        <option value="网易科技">网易科技</option>
                                        <option value="快科技">快科技</option>
                                        <option value="搜狐科技">搜狐科技</option>
                                        <option value="太平洋电脑网">太平洋电脑网</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-1 control-label">连接</label>
                                <div class="col-md-6">
                                    <input type="text" id="Id" v-model="Id" class="form-control" placeholder="请在此填写url链接">
                                </div>
                                <div class="col-md-5">
                                    <form id="upload">
                                        <div id="imgfileinput" data-provides="fileinput" class="fileinput fileinput-new right">
                                            <span class="btn green btn-file"><span class="fileinput-new"> 选择图片 </span>
                                            <input type="file" id="file" @change="change" name="image"></span>
                                        </div> <input type="text" v-model="Picture" class="form-control">
                                    </form>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-1 control-label">问题内容</label>
                                <div class="col-md-11">
                                    <vue-html5-editor :content="Body" :height="618" :auto-height="false" :show-module-name="showModuleName" @change="updateData" ref="editor"></vue-html5-editor>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-1 control-label"></label>
                                <div class="col-md-11">
                                    <button style="color:#ffffff;padding:5px 50px 5px 50px;background-color: #36c6d3;font-size:16px;border-radius:10px;border: 1px solid #2bb8c4;float:right;" v-on:click="post">发 布</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/scripts/article.js"></script>