<div id="header">
    <div style="max-width:1200px;margin:0 auto 0 auto;text-align:left;">
        <div style="overflow:hidden;">
            <div style="float:left;">
                <a href="/"><img src="/images/logo.png" height="60" /></a>
                <!-- <span style="padding:5px 20px 5px 20px;margin-right:10px;margin-left:10px;overflow:hidden;">
                    <a href="/news" style="font-size:15px;color:#CDB38B;">图闻趣事</a>
                </span> -->
            </div>
            <div id="logininfo" style="float:right;margin-top:18px;">
                <span style="color:#ffffff;padding:5px 20px 5px 20px;background-color: #ffd800;margin-right:10px;margin-left:10px;cursor:pointer;" v-on:click="login">登 陆</span>
                <span style="color:#ffffff;padding:5px 20px 5px 20px;background-color: #ff6a00;cursor:pointer;" v-on:click="reg">注 册</span>
            </div>
        </div>
    </div>
</div>