    body {
        background-color: rgb(234, 235, 237);
        margin: 0;
        font-size: 14px;
        color: #333333;
        font-family: "Microsoft YaHei", "宋体", arial, verdana, sans-serif;
    }
    
    html,
    div,
    h3,
    td,
    p,
    span,
    img,
    a {
        color: #333333;
        font-family: "Microsoft YaHei", "宋体", arial, verdana, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    #app {
        margin: 5px auto 5px auto;
    }
    
    #header {
        background-color: #22354c;
        color: #ffffff;
        padding: 10px 0 10px 0;
        text-align: center;
    }
    
    #crumbs {
        padding: 10px 0 10px 0;
        margin: 0 auto 10px auto;
        background-color: #eeeeee;
        max-width: 1200px;
    }
    
    #main {
        margin: 0 auto 0 auto;
        max-width: 1200px;
    }
    
    #list {
        background-color: #ffffff;
        overflow: hidden;
    }
    
    #console {
        float: right;
        width: 350px;
        background-color: #D1EEEE;
        margin: 10px 10px 0 10px;
    }
    
    #detail {
        margin-bottom: 20px;
        background-color: #ffffff;
        min-height: 900px;
    }
    
    .title {
        font-size: 20px !important;
        font-weight: bold;
        border-bottom: 1px solid #C32528;
        color: #C32528;
        font-family: 'museo-1', 'museo-2', Verdana;
        letter-spacing: 1px;
        text-shadow: #EEE 1px 1px 1px;
        margin: 10px 10px 10px 0;
        padding: 15px 0 15px 15px;
    }
    
    .body {
        word-wrap: break-word;
        word-break: break-all;
        letter-spacing: 1px;
        padding: 10px 20px 20px 20px;
        line-height: 180%;
        font-size: 15px;
    }
    
    #footer {
        max-width: 1200px;
        margin: 20px auto 0 auto;
        padding: 20px 0 20px 0;
        text-align: center;
        background-color: #ffffff;
        clear: both;
    }
    
    .x-sidebar {
        margin: 0;
        background: #f1f1f1;
        padding: 10px;
    }
    
    .h-widget {
        margin: 0 0 0.5em;
        font-size: 120%;
        line-height: 1.5em;
        color: #60c322!important;
    }
    
    .form-search,
    .widget_product_search form {
        position: relative;
        margin-bottom: 0;
        line-height: 1;
    }
    
    .visually-hidden,
    .screen-reader-text,
    .screen-reader-response,
    .bp-screen-reader-text {
        overflow: hidden;
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
    }
    
    .form-search .search-query,
    .form-search input[type="search"],
    .widget_product_search form .search-query,
    .widget_product_search form input[type="search"] {
        width: 100%;
        margin-bottom: 0;
        padding-left: 30px;
    }
    
    .x-sidebar .widget:first-child {
        margin-top: 0;
    }
    
    .x-sidebar .widget {
        margin-top: 2.25em;
    }
    
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "ForoSans-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    
    .form-search:before,
    .widget_product_search form:before {
        content: "\f002";
        position: absolute;
        left: 12px;
        bottom: 50%;
        display: block;
        margin-bottom: -6px;
        font-size: 12px;
        line-height: 1;
        text-decoration: inherit;
        text-shadow: none;
        color: #272727;
        font-family: "FontAwesome" !important;
        font-style: normal !important;
        font-weight: normal !important;
        text-decoration: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .visually-hidden,
    .screen-reader-text,
    .screen-reader-response,
    .bp-screen-reader-text {
        overflow: hidden;
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
    }
    
    .visually-hidden,
    .screen-reader-text,
    .screen-reader-response,
    .bp-screen-reader-text {
        overflow: hidden;
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
    }
    
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input {
        display: inline-block;
        height: 2.65em;
        margin-bottom: 9px;
        border: 1px solid #ddd;
        padding: 0 0.65em;
        font-size: 13px;
        line-height: normal;
        color: #555;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    
    .h-widget {
        margin: 0 0 0.5em;
        font-size: 120%;
        line-height: 1.5em;
        color: #60c322!important;
    }
    
    .textwidget {
        margin: 10px;
    }
    
    .x-btn:hover,
    .button:hover,
    [type="submit"]:hover {
        color: #ffffff;
        border-color: hsla(0, 0%, 0%, 0);
        background-color: #aaea82;
        text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.5);
    }
    
    .widget ul,
    .widget ol {
        overflow: hidden;
        margin-left: 0;
        border: none;
        border: none;
        list-style: none;
        border-radius: 0;
        background-color: transparent;
        box-shadow: 0;
    }
    
    .widget.widget_recent_entries li {
        padding: 1.4em;
        font-size: 81.25%;
    }
    
    .widget ul li,
    .widget ol li {
        border-bottom: 1px solid #ddd;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.65em 0.85em;
        line-height: 1.5;
        box-shadow: 0 1px 1px rgba(255, 255, 255, 0.95);
        -webkit-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
    }
    
    ul,
    ol {
        padding: 0;
        margin: 0 0 1.313em 1.655em;
    }