body {
    background-color: #eeeeee;
    margin: 0;
    font-size: 14px;
    color: #333333;
    font-family: "Microsoft YaHei", "宋体", arial, verdana, sans-serif;
}

a:link {
    color: #333333;
    text-decoration: none;
}

a:visited {
    color: #333333;
    text-decoration: none;
}

a:active {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #e47911;
    text-decoration: none;
}

html,
div,
h3,
td,
p,
span,
img,
a {
    font-family: "Microsoft YaHei", "宋体", arial, verdana, sans-serif;
    margin: 0;
    padding: 0;
}

#comment {
    margin: 0 auto 0 auto;
    border-top: 10px solid #eeeeee;
}

#logined {
    display: none;
}

#app {
    margin: 0 auto 0 auto;
}

#header {
    background-color: #2B2B2B;
    color: #ffffff;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
    height: 60px;
    overflow: hidden;
}

#main {
    margin: 0 auto 0 auto;
    max-width: 1200px;
    background-color: #ffffff;
    overflow: hidden;
    min-height: 700px;
}

#list {
    overflow: hidden;
    min-height: 700px;
}

#console {
    padding: 20px;
    margin: 0 0 0 0;
}

#detail {
    padding-bottom: 20px;
    background-color: #ffffff;
}

#piclist.row {
    margin-right: 0;
    margin-left: 0;
}

.title {
    font-size: 24px !important;
    font-weight: 400;
    border-bottom: 1px solid #eeeeee;
    color: #C32528;
    font-family: 'museo-1', 'museo-2', Verdana;
    letter-spacing: 1px;
    text-shadow: #EEE 1px 1px 1px;
    margin: 0 0 10px 0;
    padding: 15px 5px 15px 20px;
    text-align: center;
}

.body {
    word-wrap: break-word;
    word-break: break-all;
    letter-spacing: 1px;
    padding: 10px 20px 10px 20px;
    line-height: 188%;
    font-size: 15px;
}

.body img {
    max-width: 100% !important;
}

#footer {
    max-width: 1200px;
    margin: 20px auto 0 auto;
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: #ffffff;
    clear: both;
}

#imgfileinput.fileinput {
    top: 0;
    position: absolute;
    right: 0;
    padding-right: 15px;
}

#imgfileinput.fileinput {
    margin-bottom: 0;
}

.leftBar {
    position: fixed;
    left: 0;
    height: 100%;
    width: 180px;
    /* border-right: 1px solid #d2d6e0; */
    background: #404040;
}

.rightMain {
    margin-left: 180px;
    margin-right: 20px;
    /* margin-bottom: 20px; */
    min-height: 100%;
    /* background-color: #ffffff; */
}

.leftBar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.leftBar ul li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.leftBar ul li a {
    position: relative;
    display: block;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #ffffff;
}

.leftBar li.active a {
    background-color: #666666;
}

.leftBar li.active a:after {
    content: "";
    position: absolute;
    right: -1px;
    top: 50%;
    margin-top: -10px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 10px;
    border-color: transparent #fff transparent transparent;
}

.rightMain:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.leftBar ul li span {
    display: block;
    margin: 4px 20px 5px;
    border-bottom: 1px solid #d2d6e0;
}

.x-sidebar {
    margin: 0;
    padding: 10px;
}

.h-widget {
    margin: 0;
    font-size: 120%;
    line-height: 1.5em;
    color: #60c322!important;
}

.visually-hidden,
.screen-reader-text,
.screen-reader-response,
.bp-screen-reader-text {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
}

.x-sidebar .widget:first-child {
    margin-top: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "ForoSans-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.visually-hidden,
.screen-reader-text,
.screen-reader-response,
.bp-screen-reader-text {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
}

.visually-hidden,
.screen-reader-text,
.screen-reader-response,
.bp-screen-reader-text {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
}

.textwidget {
    text-align: center;
}

h4.h-widget {
    margin-bottom: 10px;
}

.widget ul,
.widget ol {
    overflow: hidden;
    margin-left: 0;
    border: none;
    border: none;
    list-style: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: 0;
}

.widget.widget_recent_entries li {
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    white-space: nowrap;
}

.widget ul li,
.widget ol li {
    padding: 0.65em 0.85em;
    line-height: 1.5;
}

.widget.widget_recent_entries li a {
    color: #888888;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

div.pic:hover {
    background-color: #FFF5EE;
}

.table th {
    text-align: center;
}

.portlet {
    margin-bottom: 0;
}

.body h5,
.content h5 {
    font-family: Courier New !important;
    font-size: 14px !important;
    border: 1px solid #dddddd;
    padding: 5px 5px 5px 10px;
    overflow: auto;
    margin: 5px 0;
    color: #333333;
    line-height: 1.3;
    font-weight: normal;
    border-radius: 10px;
}

.origin {
    padding-right: 20px;
    float: right;
    color: #888888;
    font: 15px/1.5 Microsoft Yahei, Tahoma, Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}